$color: #ccc;

.container-1 {
  display: flex;
  div {
    border: 1px $color solid;
    padding: 10px;
  }
}

.box-1 {
  flex: 1;
  order: 2;
}

.box-2 {
  flex: 1;
  order: 1;
}

.box-3 {
  flex: 1;
  order: 3;
}
